.selector {
  font-size: 1em;
  margin: 2vmin;
}

/* .response-btn {
  border: 2px solid black;
  font-size: 1em;
  margin-bottom: 5px;
  border-radius: 4px;  
  overflow: hidden;
  cursor: pointer;  
  padding: .3vmin; 
  width:28vmin; 
} */

button{
  width: 300px;
  height: 50px;
  border: none;
  outline: none;
  background: #bababa;
  color: black;
  font-size: 22px;
  line-height: 2px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
	font-family: 'Poppins', sans-serif;
	transition: 400ms ease;
}

button:hover {
  background: transparent;
  border: solid black 1px;
	color: white;
}







