@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.sms-form {
  text-align: left;
  padding: 1em;
}

.sms-form label {
  display: block;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.sms-form input,
.sms-form textarea {
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
}

#message-prompt {
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  height: 5em;
}

.sms-form div {
  margin-bottom: 0.5em;
}

.sms-form button {
  font-size: 22px;
  width: 100%;
}

textarea:focus {
  outline-color: rgb(86, 153, 175);
}

input:focus {
  outline-color: rgb(86, 153, 175);
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
}

input:not(:focus) {
  transform: scale(1);
  transition: transform 0.2s ease-out;
}
