.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: white;
  font-family: "Poppins", sans-serif;
}

.App-logo {
  animation: App-logo-spin 1 2s linear;
  height: 30vmin;
  margin-bottom: 2vmin;
}

.App-logo:hover {
  animation: App-logo-spin-reverse 2s linear 1;
  animation-timing-function: ease-in-out;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 1024px) {
  .App-header {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .App-header {
    font-size: 18px;
  }
}

